@model SCHM.Web.Models.ProductModel
@{
    ViewBag.Title = "Product";
}
<section class="content-header">
    <h1>
        Configruration
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Configuration</a></li>
        <li class="active">Products</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("Edit", "Product", FormMethod.Post, new { @class = "form-horizontal", @id = "warehouseForm" }))
            {

                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Products Edit</h3>
                        <div class="box-tools pull-right">
                            <a href="@Url.Action("Index", "Product")" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></a>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">
                               
                                   
                                        <!-- /.tab-pane -->
                                        <div class="active tab-pane" id="ProductSetting">
                                            <div class="row">
                                                <div class="col-md-12">

                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.ProductCode, new { @class = "col-sm-3 control-label text-left" })
                                                            <div class="col-sm-6">
                                                                @Html.TextBoxFor(model => model.ProductCode, new { @class = "form-control input-sm" })
                                                                @Html.ValidationMessageFor(model => model.ProductCode)
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.ProductName, new { @class = "col-sm-3 control-label text-left" })
                                                            <div class="col-sm-6">
                                                                @Html.TextBoxFor(model => model.ProductName, new { @class = "form-control input-sm" })
                                                                @Html.ValidationMessageFor(model => model.ProductName)
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.UnitPriceUsd, new { @class = "col-sm-3 control-label text-left" })
                                                            <div class="col-sm-6">
                                                                @Html.TextBoxFor(model => model.UnitPriceUsd, new { @class = "form-control input-sm" })
                                                                @Html.ValidationMessageFor(model => model.UnitPriceUsd)
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.Details, new { @class = "col-sm-3 control-label text-left" })
                                                            <div class="col-sm-6">
                                                                @Html.TextBoxFor(model => model.Details, new { @class = "form-control input-sm" })
                                                                @Html.ValidationMessageFor(model => model.Details)
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.StockAmount, new { @class = "col-sm-3 control-label text-left" })
                                                            <div class="col-sm-6">
                                                                @Html.TextBoxFor(model => model.StockAmount, new { @class = "form-control input-sm" })
                                                                @Html.ValidationMessageFor(model => model.StockAmount)
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    
                                    <!-- /.tab-content -->
                               

                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <div class="col-md-12">
                            <a href="@Url.Action("Index", "Product")" class="btn btn-danger btn-sm"><i class="fa fa-times-circle"></i> Cancel</a>
                            <button type="button" class="btn btn-success pull-right btn-sm " , onclick="FromSubmitFunction()"> <i class="fa fa-save"></i> Save</button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/AjaxCall")
    <script>
        $('.datepicker').datepicker({
            autoclose: true,
            format: 'dd-M-yyyy'
        })
        function FromSubmitFunction() {
            var isZero = false;
            $('#warehouseTbody').find('td input[name$=".QuantityStock"]').each(function () {
                if ($(this).val() < 0) {
                    isZero = true;
                }
            });

            if (isZero) {
                alert("Quantity cannot less than Zero");
            }
            else {
                $('#warehouseForm').submit();
            }


        }
    </script>
}


