
@model SCHM.Web.Models.UserRoleModel

@{
    ViewBag.Title = "Add Role";
}
<section class="content-header">
    <h1>
        <br />
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index","Home")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="@Url.Action("Roles","User")"><i class="fa fa-dashboard"></i> Roles</a></li>
        <li><a class="active"> Add</a></li>
    </ol>
</section>
<section class="content">

    <div class="row">

        <div class="col-md-12">
            @using (Html.BeginForm("AddRole", "User", FormMethod.Post, new { @class = "form-horizontal", id = "loanEntryForm" }))
            {

               
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Role Add</h3>
                        <div class="box-tools pull-right">
                            <a href="@Url.Action("Roles", "User")" class="btn btn-box-tool"><i class="fa fa-times"></i></a>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="row">

                            @Html.AntiForgeryToken()
                            @Html.Hidden("InitialRoleName", "undefined")
                            @Html.ValidationSummary(true)
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.RoleName, new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(m => m.RoleName, new { @class = "form-control input-xs" })
                                        @Html.ValidationMessageFor(model => model.RoleName)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">

                                <input class="" data-val="true" data-val-required="The IsActive field is required." id="checkAllCheckBox" type="checkbox" value="true" />
                                <label for="checkAllCheckBox"> Check All </label>
                            </div>
                            <div class="form-group">

                                <div id="roleTaskCheckboxesArea">
                                    @if (Model.RoleTaskList.Count > 0)
                                    {
                                        int i = 0;

                                      
                                    <div class="col-md-6">


                                        @foreach (var item in Model.RoleTaskList)
                                        {

                                        @Html.HiddenFor(model => model.RoleTaskList[i].PermissionName)
                                        <label class="col-md-12"> @Html.CheckBoxFor(model => model.RoleTaskList[i].IsChecked, new { @class = "checkboxFor" }) @item.PermissionName</label>
                                        i++;
                                        }

                                    </div>
                                       

                                    }
                                    else
                                    {
                                        <span>No Roles Permission available</span>
                                    }


                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="box-footer">
                        <div class="col-md-12">
                            <a href="@Url.Action("Roles", "User")" class="btn btn-danger btn-sm"><i class="fa fa-times-circle"></i>Cancel</a>
                            <button type="submit" class="btn btn-success pull-right btn-sm " onclick="formSubmitFunc()"> <i class="fa fa-save"></i> Save</button>

                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>


@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">

        $(document).ready(function () {
            //$("#tableOne thead tr th:first input:checkbox").click(function () {
            $("#checkAllCheckBox").click(function () {
                var checkedStatus = this.checked;
                //$("#tableOne tbody tr td:first-child input:checkbox").each(function () {
                $("#roleTaskCheckboxesArea input:checkbox").each(function () {
                    this.checked = checkedStatus;
                });
            });
        });

    </script>
}

