@model SCHM.Web.Models.RequisitionModel
@{
    ViewBag.Title = "Details";
}


<section class="content-header">
    <h1>
        Configruration
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Configuration</a></li>
        <li class="active">Details</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("Edit", "Requisition", FormMethod.Post, new { @class = "form-horizontal" }))
            {

                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Requisition Details</h3>
                        <div class="box-tools pull-right">
                            <a href="@Url.Action("Index", "Requisition")" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></a>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Products.ProductCode, new { @class = "col-sm-3 control-label text-left" })
                                    <div class="col-sm-6">
                                        <label class="data-label control-label">  @Html.DisplayFor(model => model.Products.ProductCode) </label>

                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Products.ProductName, new { @class = "col-sm-3 control-label text-left" })
                                    <div class="col-sm-6">
                                        <label class="data-label control-label">  @Html.DisplayFor(model => model.Products.ProductName) </label>
                                    </div>
                                </div>    
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ReqStatus, new { @class = "col-sm-3 control-label text-left" })
                                    <div class="col-sm-6">
                                        <label class="data-label control-label">  @Html.DisplayFor(model => model.ReqStatus) </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Products.Details, new { @class = "col-sm-3 control-label text-left" })
                                    <div class="col-sm-6">
                                        <label class="data-label control-label">  @Html.DisplayFor(model => model.Products.Details) </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.RequisitionQuantity, new { @class = "col-sm-3 control-label text-left" })
                                    <div class="col-sm-6">
                                        <label class="data-label control-label">  @Html.DisplayFor(model => model.RequisitionQuantity) </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.RequisitionNo, new { @class = "col-sm-3 control-label text-left" })
                                    <div class="col-sm-6">
                                        <label class="data-label control-label">  @Html.DisplayFor(model => model.RequisitionNo) </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                
                        <!-- /.row -->
                        <!-- END ACCORDION & CAROUSEL-->
                    </div>
                    <div class="box-footer">
                        <div class="col-md-12">
                            <a href="@Url.Action("Index", "Requisition")" class="btn btn-default btn-danger btn-sm"><i class="fa fa-times-circle"></i> Cancel</a>
                            
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>


</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/AjaxCall")
    <script>
        $('.datepicker').datepicker({
            autoclose: true,
            format: 'dd-M-yyyy'
        })
    </script>
}


