@using SCHM.Web.Models;
@model IEnumerable<Stationary_Management.Entity.Requisition>
@{
    ViewBag.Title = "Requisition";
}
<section class="content-header">
    <h1>
        &nbsp;
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Configuration</a></li>
        <li class="active">Requisition</li>
    </ol>
</section>
<section class="content">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Requisition Products List</h3>
                <div class="box-tools pull-right">
                    @*<a href="@Url.Action("Import","Product")" class="btn btn-box-tool" title="Import Product"><i class="fa fa-wrench"></i></a>
                        <a href="@Url.Action("ImportWarehouseStock","Product")" class="btn btn-box-tool" title="Import Product"><i class="fa fa-pencil"></i></a>*@

                    <a href="@Url.Action("Add", "Requisition")" class="btn btn-default btn-box-tool">
                        <i class="fa fa-plus"></i>Add
                    </a>
                    @*<div class="btn-group">
                            <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-wrench"></i>
                            </button>
                        </div>*@
                    <a href="@Url.Action("Index", "Requisition")" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-bordered table-striped table-condensed table-hover">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Products.ProductCode)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Products.ProductName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.RequisitionQuantity)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Products.StockAmount)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.RequisitionNo)
                                    </th>
                                    <th>
                                        Approval Status
                                    </th>

                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody id="accordion">
                                @foreach (var item in Model)
                                {
                                    <sometag class="panel">
                                        <tr>

                                            <td>
                                                <a class="btn btn-xs" href="@Url.Action("Details","Store",new {id=item.Id })" title="Details"> @Html.DisplayFor(modelItem => item.Products.ProductCode)</a>
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.Products.ProductName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.RequisitionQuantity)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Products.StockAmount)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.RequisitionNo)
                                            </td>
                                            <td>
                                                @(item.ReqStatus?"Approve":"Pending")
                                            </td>


                                            <td>
                                                @if (item.CreatedBy == AuthenticatedUser.GetUserFromIdentity().UserId)
                                                {
                                                    <a class="btn btn-default btn-xs" href="@Url.Action("Edit","Requisition",new {id=item.Id })" title="Edit"><i class="fa fa-pencil"></i>Edit</a>
                                                    <a class="btn btn-default btn-xs" href="@Url.Action("Delete","Requisition",new {id=item.Id })" title="Delete"><i class="fa fa-pencil"></i>Delete</a>
                                                }
                                                @if (User.IsInRole("Requisition_Approval") && !item.ReqStatus)
                                                {
                                                    <a onclick="confirm('Do you want to approve?')" class="btn btn-default btn-xs" href="@Url.Action("Approve","Requisition",new {id=item.Id })" title="Edit"><i class="fa fa-pencil"></i>Approve</a>
                                                    <a class="btn btn-default btn-xs" href="@Url.Action("Details","Requisition",new {id=item.Id })" title="Details"><i class="fa fa-pencil"></i>Details</a>

                                                }
                                            </td>

                                        </tr>

                                    </sometag>

                                }
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>


@section Scripts {
    @Scripts.Render("~/bundles/AjaxCall")
    <script>
        function delete_row(id) {
            if (confirm("Are you want to Delete")) {
                var url = '@Url.Action("Delete", "Product")';
                var paramData = { id: id };
                ajaxCall(url, paramData, "renderRemoveItem");
            }

            }

    </script>
}


