@using SCHM.Common
@using SCHM.Web.Models
@model SCHM.Web.Models.AuditLogSearchViewModel
@using PagedList.Mvc
@{
                /**/


                ViewBag.Title = "Audit Logs";
}
@Styles.Render("~/Content/PagedList.css")
<style>
    .required:after {
        content: " *";
    }
</style>
<div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="@Url.Action("Index","Home")">Home</a>
        </li>
        <li class="active">User</li>
    </ul><!-- /.breadcrumb -->


</div>
<div class="page-content">
    <div class="row">
        <div class="col-md-12">
            <div class="widget-box">
                <div class="widget-header">
                    <h4 class="widget-title">Audit Logs</h4>
                    <span class="widget-toolbar">
                        <a href="#" data-action="reload">
                            <i class="ace-icon fa fa-refresh"></i>
                        </a>

                        <a href="#" data-action="collapse">
                            <i class="ace-icon fa fa-chevron-up"></i>
                        </a>

                        <a href='@Url.Action("Index","Home")'>
                            <i class="ace-icon fa fa-times"></i>
                        </a>
                    </span>
                </div>
                <div class="widget-body">
                    <div class="widget-main">
                        <div class="row">
                            <div class="form-horizontal">
                                @using (Html.BeginForm("AuditLogs", "User", FormMethod.Post, new { @class = "", @id = "auditLogSearchViewModel" }))
                                {
                                <div class="col-md-12">
                                    <div class="form-group col-md-4">
                                        @Html.Label("Date (From)", new { @class = "col-md-6 control-label" })
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(model => model.DateFrom, new { @class = "form-control input-sm myDatepicker ", @autocomplete = "off" })
                                        </div>

                                    </div>
                                    <div class="form-group col-md-4">
                                        @Html.Label("Date (To)", new { @class = "col-md-6 control-label" })

                                        <div class="col-md-6">
                                            @Html.TextBoxFor(model => model.DateTo, new { @class = "form-control input-sm myDatepicker", @autocomplete = "off" })
                                        </div>
                                    </div>

                                    <div class="form-group col-md-4">
                                        @Html.Label("User ", new { @class = "col-md-6 control-label" })
                                        <div class="col-md-6">
                                            @Html.DropDownListFor(model => model.UserId, new SelectList(Model.UserList, "Id", "Name"), "Choose User", new { @class = "form-control  input-sm" })
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        @Html.Label("Action ", new { @class = "col-md-6 control-label" })
                                        <div class="col-md-6">
                                            @Html.DropDownListFor(model => model.SelectedAction, new SelectList(Model.ActionTypeList), "Choose Action", new { @class = "form-control  input-sm" })
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        @Html.Label("Module ", new { @class = "col-md-6 control-label" })
                                        <div class="col-md-6">
                                            @Html.DropDownListFor(model => model.SelectedModule, new SelectList(Model.ModuleList), "Choose Module", new { @class = "form-control  input-sm" })
                                        </div>
                                    </div>
                                    <div class="form-group col-md-2">
                                       
                                    </div>
                                    <div class="form-group col-md-2">
                                        <button type="submit" class="btn btn-sm btn-success">
                                            <span class="glyphicon glyphicon-search"></span> Search
                                        </button>

                                        <a class="btn btn-sm btn-info" href='@Url.Action("Index","QualityFault")'>
                                            <span class="fa fa-refresh"></span> Clear
                                        </a>
                                    </div>
                                </div>

                                 
                                }
                            </div>

                            <div class="col-md-12">
                                <table class="table  table-bordered table-condensed">
                                    <thead>
                                        <tr>
                                            <th>Module Name</th>
                                            <th>Action</th>
                                            <th>Column</th>
                                            <th>New Value</th>
                                            <th>Old Value</th>
                                            <th>Update By</th>
                                            <th>Update At</th>


                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            foreach (var item in Model.AuditLogList)
                                            {

                                                <tr>

                                                    <td>@Html.DisplayFor(moduleItem => item.TableName)</td>
                                                    <td>@Html.DisplayFor(modelItem => item.EventType)</td>
                                                    <td>@Html.DisplayFor(modelItem => item.ColumnName)</td>
                                                    <td>@Html.DisplayFor(modelItem => item.NewValue)</td>
                                                    <td>@Html.DisplayFor(modelItem => item.OldValue)</td>
                                                    <td>@Html.DisplayFor(modelItem => item.User.Name)</td>
                                                    <td>@string.Format("{0:dd-MMM-yyyy hh:mm tt}", item.UpdatedDate)</td>

                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="main-pagination">
                        Page @(Model.AuditLogList.PageCount < Model.AuditLogList.PageNumber ? 0 : Model.AuditLogList.PageNumber) of @Model.AuditLogList.PageCount
                        @Html.PagedListPager(Model.AuditLogList, Page => Url.Action("AuditLogs", "User", new RouteValueDictionary() { { "Page", Page }, { "PageSize", Model.PageSize } }))
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

