@using System.Activities.Expressions

@using SCHM.Web.Models
@model IEnumerable<SCHM.Entities.User>
@{
    ViewBag.Title = "Users";
}
<section class="content-header">
    <h1>
       <br/>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">User</a></li>
        <li class="active">Add</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">User List</h3>
                    <div class="box-tools pull-right">

                        <a href="@Url.Action("Register","User")" class="btn btn-box-tool" title="Add"> <i class="fa fa-plus"></i> Add</a>
                        
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>

                <div class="box-body">

                    <div class="row">
                    <div class="col-md-12 table-responsive">
                        <table class="table table-bordered table-striped table-condensed">
                            <thead>
                                <tr>

                                    <th>
                                        @Html.DisplayNameFor(model => model.Name)
                                    </th>

                                    <th>
                                        @Html.DisplayNameFor(model => model.Email)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.MobileNumber)
                                    </th>
                                    @*<th>
                                        @Html.DisplayNameFor(model => model.DepartmentId)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.DesignationId)
                                    </th>*@
                                    <th>
                                        @Html.DisplayNameFor(model => model.CardNo)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.RoleId)
                                    </th>
                                    @*<th>
                    @Html.DisplayNameFor(model => model.UserType)
                </th>*@
                                    <th>
                                        @Html.DisplayNameFor(model => model.UserName)
                                    </th>
                                    @*<th>
                    Operator
                </th>*@
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{

                                    foreach (var item in Model)
                                    {

                                        <tr>

                                            <td nowrap>
                                                @Html.DisplayFor(modelItem => item.Name)
                                            </td>

                                            @*<td>
                            @Html.DisplayFor(modelItem => item.EmployeeType)
                        </td>*@
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Email)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.MobileNumber)
                                            </td>
                                            @*<td>
                                                @Html.DisplayFor(modelItem => item.Department.DepartmentName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Designation.DesignationName)
                                            </td>*@
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CardNo)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.UserRole.RoleName)
                                            </td>
                                            @*<td>
                            @Html.DisplayFor(modelItem => item.UserType)
                        </td>*@
                                            <td>
                                                @Html.DisplayFor(modelItem => item.UserName)
                                            </td>
                                            @*<td>
                            @Html.DisplayFor(modelItem => item.IsOperator)
                        </td>*@
                                            <td>
                                                <span class='label label-sm @(item.IsDeleted ? "label-danger" : "label-success arrowed-in arrowed-in-right")'>
                                                    @(item.IsDeleted ? "Inactive" : "Active")
                                                </span>
                                            </td>
                                            <td>
                                                <div class="hidden-sm hidden-xs action-buttons">
                                                    @if (!item.IsDeleted)
                                                    {
                                                        <a href="@Url.Action("Edit","User", new { id = item.Id })" class="green" title="Edit">
                                                            <i class="ace-icon fa fa-pencil">Edit</i>
                                                        </a>
                                                        <a class="red" href="#" onclick="inactive_row('@item.Id') " title="Inactive">
                                                            <i class=" ace-icon fa fa-ban">
                                                            </i>
                                                        </a>
                                                        <a class="blue" href="#" onclick="reset_Password('@item.Id','@item.Name')" title="Reset Password">
                                                            <i class=" ace-icon fa fa-undo">Password Reset
                                                            </i>
                                                        </a>
                                                    }
                                                    else
                                                    {
                                                        <a class="green" href="#" onclick="active_row('@item.Id')" title="Active">
                                                            <i class="ace-icon fa fa-check-circle"></i>
                                                        </a>
                                                    }
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>

                    </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    </section>

    <div id="dialog-confirm" class="hide">
        <div class="space-6"></div>
        <h4 class="bigger-110 bolder center grey">
            <i class="ace-icon fa fa-hand-o-right blue bigger-120"></i>
            Are you sure?
        </h4>
    </div>

    @section scripts
{
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/jquery-confirm")
        @Scripts.Render("~/bundles/AjaxCall")

        <script type="text/javascript">

            function inactive_row(id) {

                $.confirm({
                    title: '<i class="fa fa-check-circle" aria-hidden="true"> Confirmation</i>',
                    content: 'Are you sure want to inactive ?',
                    buttons: {
                        confirm: {
                            text: 'Confirm',
                            btnClass: 'btn-blue',
                            action: function () {

                                var url = '@Url.Action("Delete", "User")';
                                var paramData = { id: id };
                                ajaxCall(url, paramData, "renderRemoveItem");
                            }
                        },
                        cancel: {
                            text: 'Cancel',
                            action: function () {
                            }
                        }
                    }
                });
            }


            function active_row(id) {
           
                $.confirm({
                    title: '<i class="fa fa-check-circle" aria-hidden="true"> Confirmation</i>',
                    content: 'Are you sure want to active ?',
                    buttons: {
                        confirm: {
                            text: 'Confirm',
                            btnClass: 'btn-blue',
                            action: function () {

                                var url = '@Url.Action("Active", "User")';
                                var paramData = { id: id };
                                ajaxCall(url, paramData, "renderRemoveItem");
                            }
                        },
                        cancel: {
                            text: 'Cancel',
                            action: function () {
                            }
                        }
                    }
                });
            }

            function reset_Password(id,name) {
           
                $.confirm({
                    title: '<i class="fa fa-check-circle" aria-hidden="true"> Confirmation</i>',
                    content: 'Are you sure want to reset '+name+'\'s pasword ?',
                    buttons: {
                        confirm: {
                            text: 'Confirm',
                            btnClass: 'btn-blue',
                            action: function () {
                                var url = '@Url.Action("ResetPassword", "User")';
                                var paramData = { id: id };
                                ajaxCall(url, paramData, "renderResetPassword");
                            }
                        },
                        cancel: {
                            text: 'Cancel',
                            action: function () {
                            }
                        }
                    }
                });
            }

        </script>
    }
