@using SCHM.Common
@model IEnumerable<SCHM.Entities.UserRole>

@{
    ViewBag.Title = "Roles";
}
<section class="content-header">
    <h1>
        &nbsp;
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Configuration</a></li>
        <li class="active">Roles</li>
    </ol>
</section>
<section class="content">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Role List</h3>
                <div class="box-tools pull-right">
                    <a href="@Url.Action("AddRole","User")" class="btn btn-box-tool">
                        <i class="fa fa-plus"></i>
                    </a>
                    <div class="btn-group">
                        <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-wrench"></i>
                        </button>
                    </div>
                    <a href="@Url.Action("Index","Home")" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-bordered table-striped table-condensed">
                            <thead>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.RoleName)</th>
                                    <th>@Html.DisplayName("Permission Assigned")</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    string taskAssigned = "";
                                    <tr>
                                        <td class="col-md-2">@Html.DisplayFor(modelItem => item.RoleName)</td>
                                        <td class="col-md-9">
                                            @if (item.RolePermissionCollection.Any())
                                            {
                                                foreach (var i in item.RolePermissionCollection)
                                                {
                                                    taskAssigned += i.Permission.ReplaceNullable("_", " ") + ", ";
                                                }
                                            }

                                            @taskAssigned.Trim(',', ' ')
                                        </td>
                                        <td class="col s2">
                                            <a href="@Url.Action("EditRole","User",new{id=item.Id})" class="btn-floating waves-effect waves-light green"><i class="fa fa-pencil"></i></a>
                                            @*<a class="btn-floating waves-effect waves-light red sweetalert-warning" data-id="@item.Id"><i class="material-icons">delete</i></a>*@
                                        </td>
                                    </tr>

                                }
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>




